nav {
  background-color: var(--color-dark) !important;
}

nav a {
  
}
.navbar-brand {
  color: var(--color-blue-light) !important;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-style: italic;
  font-size: 20px;
}

.navspan {
  font-size: 28px;
  color: var(--color-red-light);
}

.navbtn {
  background-color: var(--color-dark) !important;
  /* color: var(--color-light) !important; */
  color: var(--color-blue-light) !important;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif !important;
  font-size: 18px !important;
  font-weight: 550 !important;
  border-style: none !important;
}

#login:hover {
  background-color: var(--color-blue) !important;
  color: var(--color-tan2) !important;
}

#signup:hover {
  background-color: var(--color-red) !important;
  color: var(--color-tan2) !important;
}

#logout:hover {
  background-color: var(--color-tan2) !important;
  color: var(--color-blue) !important;
  
}

#logout:hover span {
  color: var(--color-red) !important;
}
/* 
.navbtn:hover a {
  
} */