* {
  font-family: 'Open Sans', sans-serif;
}

nav {
  background-color: var(--color-dark) !important;
  padding: 0.5rem 0.3rem !important;
}

.navbar-brand {
  color: var(--color-blue-nav) !important;
  font-family: 'Source Sans Pro', sans-serif !important;
  font-style: italic !important;
  font-weight: 700 !important;
  font-size: 22px !important;
}

.navspan {
  font-family: 'Source Sans Pro', sans-serif !important;
  font-weight: 900 !important;
  font-size: 30px;
  color: var(--color-red-nav);
}

.navbtn {
  background-color: var(--color-dark) !important;
  color: var(--color-light) !important;
  font-family: 'Source Sans Pro', sans-serif !important;
  font-size: 17px !important;
  /* font-style: italic !important; */
  font-weight: 500 !important;
  border-style: none !important;
}

#login:hover {
  background-color: var(--color-blue) !important;
  color: var(--color-tan) !important;
}

#signup:hover {
  background-color: var(--color-red) !important;
  color: var(--color-tan) !important;
}

#logout:hover {
  background-color: var(--color-dark2) !important;
}
#logout:hover #log{
  color: var(--color-blue-nav) !important;
}
#logout:hover #out {
  color: var(--color-red-nav) !important;
}

.navbar-brand:hover {
  background-color: var(--color-dark2) !important;
}