
.map-box { 
  width: 100%;
  height:70vh;
  border: 1px solid var(--color-dark);
  background-color: var(--color-light-grey);
  overflow: hidden;
}

.map-head h5 {
  color: var(--color-light);
  font-size: 14.5px
}

.zoom {
  border: 1px var(--color-dark2) solid;
  border-radius: 4px;
  background-color: var(--color-light);
  text-align: center;
}
#zoom-reset {
  font-size: 14px;
}
.tools {
  border-bottom: 1px var(--color-dark2) solid;
  background-color: var(--color-dark);
}

#zoom-in:hover {
  background-color: var(--color-red);
  color: var(--color-light);
}

#zoom-out:hover {
  background-color: var(--color-blue);
  color: var(--color-light);
}

#zoom-in:hover i{
  background-color: var(--color-red);
  color: var(--color-light);
}

#zoom-out:hover i{
  background-color: var(--color-blue);
  color: var(--color-light);
}


#zoom-reset:hover {
  background-color: var(--color-dark2);
  color: var(--color-light);
}
.zoom:hover i {
  color: var(--color-light);
}

