.polImg {
  height: 100px;
  object-fit: contain;
}

.listNum {
  color: black;
  
}


.pol-name, .pol-distr {
  color: black !important;
}

.pol-party {
  color: var(--color-light) !important;
  border-radius: 5%;
  padding: 4px 6px;
  width: auto;
  text-align: center !important;
}

.pol-distr, .pol-party {
  font-size: 20px;
}

a {
  color: black !important;
}

.pol-party-Republican {
  background-color: var(--color-red);
}

.pol-party-Democrat {
  background-color: var(--color-blue);
}

.polD
.list-overflow-container {
  max-height: 545px;
  border: 1px #DDDDDD solid;
  border-radius: 4px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.list-overflow-container ul {
  margin: 0;
}

.list-overflow-container li {
  border-radius: 0px;
  border-left: none;
  border-right: none;
}

.list-overflow-container li * {
  cursor: pointer;
}

.list-overflow-container li a {
  color: #2A878C;
}

.list-overflow-container li:first-child {
  border-top: none;
}

.list-overflow-container li:last-child {
  border-bottom: none;
}
