.list-group-horizontal .list-group-item {
  background-color: var(--color-light) !important;
  color: var(--color-dark2) !important;
}

.list-group-horizontal .list-group-item:hover {
  background-color: var(--color-dark2) !important;
  color: var(--color-light) !important;
}

.list-group-horizontal {
  display: inline-flex !important;
}

.jumpto {
  color: var(--color-dark2)
}

.c-nav-parent .card {
  width:fit-content !important;
}