:root {
  --color-red: #953738;
  --color-blue: #0B406F;
  --color-tan: #e3dfb0;
  --color-tan-alt: #dbd592;
  --color-light: #F1EACA;
  --color-red-light: rgb(188,140,117);
  --color-red-nav: rgb(204, 89, 79);
  --color-blue-light: rgb(120, 144, 144);
  --color-blue-nav: rgb(100, 122, 142);
  --color-dark: rgb(34, 34, 34);
  --color-dark2: rgb(49, 49, 49);
  --color-light-grey: rgb(235, 235, 235);
}
.map-box { 
  width: 100%;
  border: 1px solid var(--color-dark);
  background-color: var(--color-light-grey);
  overflow: hidden;
  height: 100vh;
}

.map-head h5 {
  color: var(--color-light);
  font-size: 14.5px
}

.zoom {
  border: 1px var(--color-dark2) solid;
  border-radius: 4px;
  background-color: var(--color-light);
  text-align: center;
  /* test */
}

#zoom-reset {
  font-size: 14px;
  /* test */
}

.tools {
  border-bottom: 1px var(--color-dark2) solid;
  background-color: var(--color-dark);
  /* test */
}

#zoom-in:hover {
  background-color: var(--color-red);
  color: var(--color-light);
  /* test */
}

#zoom-out:hover {
  background-color: var(--color-blue);
  color: var(--color-light);
  /* test */
}

#zoom-in:hover i{
  background-color: var(--color-red);
  color: var(--color-light);
  /* test */
}

#zoom-out:hover i{
  background-color: var(--color-blue);
  color: var(--color-light);
  /* test */
}

#zoom-reset:hover {
  background-color: var(--color-dark2);
  color: var(--color-light);
  /* test */
}

.zoom:hover i {
  color: var(--color-light);
  /* test */
}

body {
  background-color: var(--color-light);
}

.Republican {
  fill: var(--color-red);
}

.Republican:hover {
  fill: var(--color-red-light);
}

.Democrat {
  fill: var(--color-blue);
}

.Democrat:hover {
  fill: var(--color-blue-light);
}

svg{
  overflow: hidden;
  position: relative;
  min-height: 100vh;
  min-width: 100vw;
  
}

g{
  position:relative;
  overflow: hidden;
  transform:translate(20%, 10% ) scale(100%);
  vertical-align: middle;
}

@media screen and (max-width:3001px) {
  g{
    transform:translate(25%, 3%)scale(100%);
    vertical-align: middle;
  }
}
@media screen and (max-width:1901px) {
  g{
    transform:translate(23%, 7%)scale(100%);
    vertical-align: middle;
  }
}
@media screen and (max-width:1681px) {
  g{
    transform:translate(23%, 3%)scale(90%);
    vertical-align: middle;
  }
}
@media screen and (max-width:1601px) {
  g{
    transform:translate(20%, 5%)scale(100%);
    vertical-align: middle;
  }
}
@media screen and (max-width:1281px) {
  g{
    transform:translate(17%, 3%)scale(90%);
    vertical-align: middle;
  }
}
@media screen and (max-width:1025px) {
  g{
    transform:translate(5%, 10%)scale(90%);
    vertical-align: middle;
  }
}
@media screen and (max-width:769px) {
  g{
    transform:translate(10%, 10%)scale(65%);
    vertical-align: middle;
  }
}
@media screen and (max-width:640px) {
  g{
    transform:scale(50%);
    vertical-align: middle;
  }
}

@media screen and (max-width:376px) {
  g{
    transform:translate(0, 10%)scale(35%);
    vertical-align: middle;
  }
}
.none {
  fill: var(--color-dark);
}

.none:hover {
  fill: var(--color-dark2);
}

.profile-btn {
  background-color: var(--color-tan) !important;
  border-color: rgb(108,108,108) !important;
  color: var(--color-dark) !important;
}

.modal-content {
  background-color: var(--color-dark) !important;
  color: var(--color-light);
}

.modal-header {
  border-bottom-color: var(--color-dark2) !important;
}

.modal-footer {
  border-top-color: var(--color-dark2) !important;
}

.close-btn {
  /* background-color: rgb(179,179,179) !important; */
  background-color: var(--color-light) !important;
  color: var(--color-dark) !important;
  border-color: rgb(108,108,108) !important;
}

.close-btn:hover {
  /* background-color: var(--color-tan-alt) !important;
  color: rgb(179,179,179) !important; */
  background-color: var(--color-dark2) !important;
  color: var(--color-light) !important;
}

.profile-btn:hover {
  background-color: var(--color-dark2) !important;
  color: var(--color-light) !important;
}

.close {
  background-color: var(--color-dark) !important;
  border: 2px solid var(--color-dark) !important;
  border-radius: 0.25rem !important;
  color: var(--color-light-grey) !important;
}

.close:hover {
  background-color: var(--color-dark2) !important;
  border-color: var(--color-dark2) !important;
}
