:root {
  --color-red: #953738;
  --color-tan: #ddd799;
  --color-tan2: #e3dfb0;
  --color-light: #F1EACA;
  --color-lightblue: #0A6281;
  --color-blue: #0B406F;
  --color-red-light: #e75052;
  --color-blue-light: #56a8f0;
}
