.map-tooltip-text {
  font-size: 11px;
  line-height: 8px !important;
  text-align: left !important;
}

.map-tooltip-button {
  border: 1px var(--color-dark2) solid;
  border-radius: 4px;
  background-color: var(--color-light);
  text-align: center;
}

.map-tooltip-button:hover {
  background-color: var(--color-dark2) !important;
  border-color: var(--color-dark2) !important;
}

.map-tooltip-button:hover i {
  color: var(--color-light);
}